@import url(https://fonts.googleapis.com/css?family=Montserrat);

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

td {
  display: flex;
  margin-top: 10px;
  align-items: center;
  border-radius: 5px;
  background-color: #d4d4d4;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}
h2 {
  margin-bottom: 10px;
}
.recherche {
  text-align: center;
}

.barrerecherche {
  height: 35px;
  font-size: 20px;
}

.user {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nom_user {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  width: 50%;
}

.submit {
  background-color: green;
  color: #fff;
  width: auto;
  padding: 8px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
}

.option_user {
  display: flex;
  margin-left: 15px;
}
